In [2]:
import pandas as pd
import numpy as np
import os

# visualize
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(11, 9))
plt.rc('font', size=13)

# acquire
from env import host, user, password
from pydataset import data
import acquire

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

# Data Acquisition

1. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [ ]:
data = sns.load_dataset('iris')
df_iris = pd.DataFrame(data)

 - print the first 3 rows

In [ ]:
df_iris.head(3)

- print the number of rows and columns (shape)

In [ ]:
df_iris.shape

- print the column names

In [ ]:
df_iris.columns

In [ ]:
df_iris.columns.to_list()

- print the data type of each column

In [ ]:
df_iris.info()

In [ ]:
df_iris.dtypes

- print the summary statistics for each of the numeric variables.

In [ ]:
df_iris.describe()

In [ ]:
df_iris.describe().T

--  Would you recommend rescaling the data based on these statistics?
no

2. Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1LGlCFS71lxWgbLZKOGx232I7NDsveFFrHLGEDwinHQA/edit#gid=1922811804'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [ ]:
df_excel = pd.read_excel('Spreadsheets_Exercises.xlsx', sheet_name='Table1_CustDetails')

- assign the first 100 rows to a new dataframe, df_excel_sample

In [ ]:
df_excel_sample = df_excel.head(100)

- print the number of rows of your original dataframe

In [ ]:
df_excel.shape[0]

In [ ]:
df_excel_sample.shape

- print the first 5 column names

In [ ]:
df_excel.columns[:5]

- print the column names that have a data type of object

In [ ]:
df_excel.info()

In [ ]:
df_excel.select_dtypes(include='object').columns # justin's

In [ ]:
df_excel.select_dtypes(include='object').columns.to_list()

In [ ]:
obj_lst = list(df_excel.columns) # alicia's

for obj in obj_lst:
    if df_excel[obj].dtype == 'object':
        print(obj)

In [ ]:
for obj in obj_lst:
    if df_excel[obj].dtype == 'float64':
        print(obj,"range:", df_excel[obj].max() - df_excel[obj].min())

3. Read the data from this google sheet into a dataframe, df_google

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [ ]:
df_google = pd.read_csv(csv_export_url)

- print the first 3 rows

In [ ]:
df_google.head(3)

- print the number of rows and columns

In [ ]:
df_google.shape

- print the column names

In [ ]:
df_google.columns

In [ ]:
df_google.info()

- print the summary statistics for each of the numeric variables

In [ ]:
df_google.describe(include=[np.number])

- print the unique values for each of your categorical variables

In [ ]:
df_google.PassengerId.unique()
df_google.Survived.unique()
df_google.Pclass.unique()
df_google.Name.unique()
df_google.Sex.unique()
df_google.Ticket.unique()
df_google.Cabin.unique()
df_google.Embarked.unique()

In [ ]:
new_titanic_data()

In [ ]:
get_titanic_data()

In [ ]:
iris = new_iris_data()

In [ ]:
get_iris_data()

# Data Prep

1. Use the function defined in acquire.py to load the iris data.

2. Drop the species_id and measurement_id columns.

3. Rename the species_name column to just species.

4. Create dummy variables of the species name.

5. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [5]:
import acquire

In [6]:
df = acquire.get_iris_data()

In [7]:
df['species'] = df.species_name

In [8]:
dropcols = ['species_id', 'measurement_id', 'species_name']

In [9]:
df.drop(columns=dropcols, inplace=True)

In [10]:
dummies = pd.get_dummies(df[['species']], drop_first=True) # df[['species']] -> dual brackets renames dummies species_{species}

In [11]:
df = pd.concat([df, dummies], axis=1)

In [12]:
import prepare as prep

In [13]:
df = prep.clean_iris()
df.sample(20)

,sepal_length,sepal_width,petal_length,petal_width,species,species_versicolor,species_virginica
39,5.1,3.4,1.5,0.2,setosa,0,0
74,6.4,2.9,4.3,1.3,versicolor,1,0
113,5.7,2.5,5.0,2.0,virginica,0,1
31,5.4,3.4,1.5,0.4,setosa,0,0
60,5.0,2.0,3.5,1.0,versicolor,1,0
94,5.6,2.7,4.2,1.3,versicolor,1,0
83,6.0,2.7,5.1,1.6,versicolor,1,0
34,4.9,3.1,1.5,0.2,setosa,0,0
121,5.6,2.8,4.9,2.0,virginica,0,1
57,4.9,2.4,3.3,1.0,versicolor,1,0
14,5.8,4.0,1.2,0.2,setosa,0,0
118,7.7,2.6,6.9,2.3,virginica,0,1
78,6.0,2.9,4.5,1.5,versicolor,1,0
53,5.5,2.3,4.0,1.3,versicolor,1,0
102,7.1,3.0,5.9,2.1,virginica,0,1
76,6.8,2.8,4.8,1.4,versicolor,1,0
131,7.9,3.8,6.4,2.0,virginica,0,1
116,6.5,3.0,5.5,1.8,virginica,0,1
84,5.4,3.0,4.5,1.5,versicolor,1,0
28,5.2,3.4,1.4,0.2,setosa,0,0

In [15]:
train, validate, test = prep.prep_iris_data()

train.head()

,sepal_length,sepal_width,petal_length,petal_width,species,species_versicolor,species_virginica
79,5.7,2.6,3.5,1.0,versicolor,1,0
36,5.5,3.5,1.3,0.2,setosa,0,0
133,6.3,2.8,5.1,1.5,virginica,0,1
95,5.7,3.0,4.2,1.2,versicolor,1,0
18,5.7,3.8,1.7,0.3,setosa,0,0