In [1]:
import pandas as pd
import numpy as np
import os

# visualize
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(11, 9))
plt.rc('font', size=13)

# acquire
from env import host, user, password
from pydataset import data
import acquire

1. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [ ]:
data = sns.load_dataset('iris')
df_iris = pd.DataFrame(data)

 - print the first 3 rows

In [ ]:
df_iris.head(3)

- print the number of rows and columns (shape)

In [ ]:
df_iris.shape

- print the column names

In [ ]:
df_iris.columns

In [ ]:
df_iris.columns.to_list()

- print the data type of each column

In [ ]:
df_iris.info()

In [ ]:
df_iris.dtypes

- print the summary statistics for each of the numeric variables.

In [ ]:
df_iris.describe()

In [ ]:
df_iris.describe().T

--  Would you recommend rescaling the data based on these statistics?
no

2. Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1LGlCFS71lxWgbLZKOGx232I7NDsveFFrHLGEDwinHQA/edit#gid=1922811804'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [ ]:
df_excel = pd.read_excel('Spreadsheets_Exercises.xlsx', sheet_name='Table1_CustDetails')

- assign the first 100 rows to a new dataframe, df_excel_sample

In [ ]:
df_excel_sample = df_excel.head(100)

- print the number of rows of your original dataframe

In [ ]:
df_excel.shape[0]

- print the first 5 column names

In [ ]:
df_excel.columns[:5]

- print the column names that have a data type of object

In [ ]:
df_excel.info()

In [ ]:
df_excel.select_dtypes(include='object').columns # justin's

In [ ]:
df_excel.select_dtypes(include='object').columns.to_list()

In [ ]:
obj_lst = list(df_excel.columns) # alicia's

for obj in obj_lst:
    if df_excel[obj].dtype == 'object':
        print(obj)

In [ ]:
for obj in obj_lst:
    if df_excel[obj].dtype == 'float64':
        print(obj,"range:", df_excel[obj].max() - df_excel[obj].min())

3. Read the data from this google sheet into a dataframe, df_google

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [ ]:
df_google = pd.read_csv(csv_export_url)

- print the first 3 rows

In [ ]:
df_google.head(3)

- print the number of rows and columns

In [ ]:
df_google.shape

- print the column names

In [ ]:
df_google.columns

In [ ]:
df_google.info()

- print the summary statistics for each of the numeric variables

In [ ]:
df_google.describe(include=[np.number])

- print the unique values for each of your categorical variables

In [ ]:
df_google.PassengerId.unique()
df_google.Survived.unique()
df_google.Pclass.unique()
df_google.Name.unique()
df_google.Sex.unique()
df_google.Ticket.unique()
df_google.Cabin.unique()
df_google.Embarked.unique()

In [ ]:
%run acquire

In [ ]:
titanic = new_titanic_data()

In [ ]:
# get_titanic_data()

In [ ]:
iris = new_iris_data()

In [ ]:
# get_iris_data()

### Exercise

1. Use the function defined in acquire.py to load the iris data.

2. Drop the species_id and measurement_id columns.

3. Rename the species_name column to just species.

4. Create dummy variables of the species name.

5. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [2]:
from acquire import get_iris_data, new_iris_data, get_connection

In [5]:
df = get_iris_data()

In [6]:
df['species'] = df.species_name

In [7]:
dropcols = ['species_id', 'measurement_id', 'species_name']

In [8]:
df.drop(columns=dropcols, inplace=True)

In [9]:
dummies = pd.get_dummies(df[['species']], drop_first=True) # df[['species']] -> dual brackets renames dummies species_{species}

In [10]:
df = pd.concat([df, dummies], axis=1)

In [11]:
def prep_iris():
    '''
    prep_iris will take a dataframe acquired as df and remove columns:
        species_id: species_name has same info but more descriptive
        measurement_id: contains no statistical value
    rename species_name to species,
    and add dummy values for the species
    return: single cleaned dataframe
    '''
    df = get_iris_data()
    df['species'] = df.species_name
    dropcols = ['species_id', 'measurement_id', 'species_name']
    df.drop(columns=dropcols, inplace=True)
    dummies = pd.get_dummies(df[['species']], drop_first=True)
    return pd.concat([df, dummies], axis=1)

In [12]:
prepped_iris = prep_iris()
prepped_iris.sample(20)

,sepal_length,sepal_width,petal_length,petal_width,species,species_versicolor,species_virginica
122,7.7,2.8,6.7,2.0,virginica,0,1
75,6.6,3.0,4.4,1.4,versicolor,1,0
120,6.9,3.2,5.7,2.3,virginica,0,1
116,6.5,3.0,5.5,1.8,virginica,0,1
144,6.7,3.3,5.7,2.5,virginica,0,1
51,6.4,3.2,4.5,1.5,versicolor,1,0
32,5.2,4.1,1.5,0.1,setosa,0,0
12,4.8,3.0,1.4,0.1,setosa,0,0
68,6.2,2.2,4.5,1.5,versicolor,1,0
19,5.1,3.8,1.5,0.3,setosa,0,0
47,4.6,3.2,1.4,0.2,setosa,0,0
52,6.9,3.1,4.9,1.5,versicolor,1,0
59,5.2,2.7,3.9,1.4,versicolor,1,0
111,6.4,2.7,5.3,1.9,virginica,0,1
89,5.5,2.5,4.0,1.3,versicolor,1,0
142,5.8,2.7,5.1,1.9,virginica,0,1
28,5.2,3.4,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
9,4.9,3.1,1.5,0.1,setosa,0,0
66,5.6,3.0,4.5,1.5,versicolor,1,0